  h1 {
    font-size: 7rem;
    text-decoration-color: aliceblue;
    color: rgb(191, 0, 255)
  }

  ul {
    text-align: center;
    text-orientation: sideways;
    margin: 15px;
    color: rgb(177, 0, 177);
    padding: 20px

  }

  ol {
    border: 100% auto;
    border-image: url("264422-abstract-dark-picture.jpeg") auto;
    text-align: center;
    text-orientation: sideways;
    list-style-position: inside;
    padding: 1rem;
  }

body {
  background: url("spiral-lines-stripes-4k_1536854710.jpeg");
  margin: auto;
  background-size: 100%;
  
}

p {
  font-size: 1.2rem;
  text-decoration-color: aliceblue;
  color: rgb(255, 255, 255)
}

ol { 
  font-size: 1.5rem;
  text-decoration-color: aliceblue;
  color: rgb(255, 255, 255)
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  text-decoration-color: aliceblue;
  color: rgb(68, 255, 39)
}

footer {
  color: gold;
}
